@use 'variables' as *;

@mixin responsive-toolbar-section {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

body {
    margin: 0pt;
    padding: 8pt 16pt 16pt 16pt;
    background-color: $tertiary-color;
    height: calc(100vh - 24pt);
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:start;
    height: min-content;
    color: white;

    .text-field {
        margin: 8pt 0pt;
        min-width: 100pt;
        max-width: 400pt;
    }

    button {
        width: 70pt;
        height: min-content;
        margin: 8pt 0pt 0pt 8pt;
    }
}

.canvas-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.canvas-toolbar {
    @include responsive-toolbar-section;
    padding: 16px;
    background-color: $secondary-color;
    border-radius: $radius;
    color: white;
    width: max-content;
    align-items: center;
}

.canvas-toolbar-shapes {
    @include responsive-toolbar-section;
    padding: 0;
    margin: 0;
}

.canvas-toolbar-shape-properties {
    @include responsive-toolbar-section;
    padding: 0 0 0 16pt;
    margin: 0;

    div {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 0pt 8pt;
    }

    input {
        flex-grow: 1;
    }
}

.toolbar-shape-button {
    width: max-content;
    height: max-content;
    border-radius: $radius;
    background-color: white;
    padding: 0;
    @include flex-center;
    
    svg {
        stroke: black;
        stroke-width: 3;
        fill: transparent;
    }

    &.is-active {
        box-shadow: $lite-shadow;
        background-color: $secondary-accent-color;
    }
}

.canvas-container {
    border: get-colored-thin-border(black);
    width: max-content;
    height: max-content;
    background-color: white;
}
