@use 'variables' as *;

body {
    font-family: $global-font-family;
}

form {
    @include flex-center;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.text-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

label {
    font-size: $normal-text-font-size;
}

input {
    padding: 8px;
    border: 1px solid $primary-color;
    border-radius: $radius;
    font-size: $normal-text-font-size;

    &[type='color'] {
        padding: 0;
        width: 100%;
    }
}

input:focus {
    outline: none;
    border: 2px solid $primary-color;
}

input:user-invalid {
    border: 2px solid $error-color;
}

.error {
    color: $error-color;
    font-size: $low-text-font-size;
    height: 12pt;
    width: 100%;
}

button {
    border-radius: $radius;
    padding: 8px;
    font-size: $normal-text-font-size;
    cursor: pointer;
    border: none;

    &.primary-button {
        background-color: $primary-color;
        color: white;

        &:hover {
            filter: brightness(150%);
        }
    }

    &.secondary-button {
        background-color: $secondary-color;
        color: white;

        &:hover {
            filter: brightness(85%);
        }
    }

    &.error-button {
        background-color: $primary-accent-color;

        img {
            width: 20px;
            height: 20px;
        }
    
        &:hover {
            filter: brightness(130%);
        }
    }
}

.link {
    text-align: center;
    color: $primary-accent-color;
    padding: 8px;
    font-size: $normal-text-font-size;
    width: 100%;
}

