@use 'variables' as *;

body {
    font-family: $global-font-family;
}

form {
    @include flex-center;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.text-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

label {
    font-size: $normal-text-font-size;
}

input {
    padding: 8px;
    border: 1px solid $primary-color;
    border-radius: $radius;
    font-size: $normal-text-font-size;
}

input:focus {
    outline: none;
    border: 2px solid $primary-color;
}

input:user-invalid {
    border: 2px solid $error-color;
}

.error {
    color: $error-color;
    font-size: $low-text-font-size;
    height: 12pt;
    width: 100%;
}

button {
    border-radius: $radius;
    padding: 8px;
    font-size: $normal-text-font-size;
    cursor: pointer;
    color: white;
    border: none;

    &:hover {
        filter: brightness(90%);
    }
}

.primary-button {
    background-color: $primary-color;
}

.secondary-button {
    background-color: $secondary-color;
}

.link {
    text-align: center;
    color: $primary-accent-color;
    padding: 8px;
    font-size: $normal-text-font-size;
    width: 100%;
}

.icon-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    img {
        width: 24px;
        height: 24px;
    }

    &:hover {
        filter: brightness(90%);
    }
}