@use 'variables' as *;

body {
    background-color: $tertiary-color;
}

section {
    @include flex-center;
    flex-direction: row;
    height: 94vh;
}

h1 {
    text-align: center;
    padding: 0px;
    margin: 20px 0px 50px 0px;
    font-size: 25pt;
}

button {
    width: 100%;
}

.login-form {
    background-color: white;
    border-radius: $radius;
    padding: 20px;
    height: fit-content;
    box-shadow: $lite-shadow;
    width: 220pt;
    @include flex-center;
    flex-direction: column;
    gap: 15px;
}